:root {
    --variable: value;
}
  
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}
 
body {
    line-height: 1.6;
    background-color: rgb(93, 202, 119);
    color: azure;
}

#container {
    width: 100vw;
    height: 100vh;
}

.playarea {
    text-align: center;
    &__clicker {
        background-image: url(/assets/sad.png);
        width: 30vw;
        height: 30vw;
        background-size:cover;
        transition: all 0.1s;
        margin-inline: auto;
        &:active{
            background-image: url(/assets/happy.png);
            transform: scale(0.95);
        }
    }
}

.powerups{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 1rem;
    grid-auto-rows: 1fr;
}

.powerup {
    background-color: #2f9c37;
    font-size: 1.5rem;  
    border-radius: 2.5rem;
    padding: 0rem 1.5rem;
    color: rgb(236, 236, 236);  
    transition: all 0.1s;
    text-align: start;
    &:active{
        transform: scale(0.95);
        background-color: #1e8748;
    }

    display: grid;
    gap: .4rem;
    grid-template-columns: repeat(3, auto);

    &__title {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    &__price {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: end;
    }
    &__amount {
        grid-column: 3/4;
        grid-row: 1/3;
        font-size: 5rem;
        justify-self: end;
        align-self: center;
    }
    .profit {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
    }
}
  
.counter {
    &__current {
        font-size: 5rem;
    }
    &__persec {
        font-size: 2rem;
    }
}